@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
  font-family: "Roboto Flex", sans-serif;
}

.default{
  padding: 70px 0px 70px 0px;
  background-color: #000000;
  color: #fff;
}

.h2-default{
  text-transform: uppercase;
  padding: 20px 0px 20px 0px;
}

/* Inicio main */

.background {
  background: url(../img/homepage.jpg);
  background-size: cover;
  padding: 230px 0px;
}

.background h2 {
  color: #ffff;
  padding-left: 90px;
}

.background span {
  color: #da70d6;
  font-weight: 500;
}

.background p{
    color: #fff;
    width: 60%;
    margin-top: 10px;
    margin-left: 93px;
}

.background a{
  text-decoration: none;
  color: #fff;
}

.container2{
    margin-left: 93px;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #8B008B;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

/* Final main */

/* inicio produto */

.produtos h1{
  padding-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.produtos p{
  margin-top: 20px;
  padding: 0px 0px 10px 0px;
}

.produtos ul li{
  padding: 0px 0px 10px 0px;
}

.produtos-btn{
  text-align: center;
}

.produtos-btn h1{
  padding: 70px 0px 70px 0px;
  text-transform: uppercase;
}

.produtos-btn span{ 
  color: #da70d6;
  font-weight: 900;
}

.produtos-btn .btn{
  background: transparent;
  display: inline-block;
  outline: none;
  margin: 0 10px;
  color: #000000;
  font-weight: bolder;
  border: 1px solid 	#4B0082;
} 

.produtos-btn{
  margin-bottom: 50px;
}

.produtos-btn .btn:hover{
  transition: 0.5s ease-in-out;
  background: 	#863984;
  color: #fff;
}

.f-btn{
  display: none;
  padding: 60px 0px 60px 0px;
}

.f-btn .btn{
  width: 300px;
  height: 35px;
}

.active{
  display: block;
}

#app-content p{
    padding-bottom: 10px;
}

.consultoria-content p{
  position: flex;
  top: 6000px;
  padding-bottom: 20px;
}