.cons-tec{
    background-image: url("../img/consultoria-tecnica.jpg");
    padding: 250px 0px;
    background-size: cover;

}

.nt{
    color: #fff;
    padding-left: 30px;
    background-color: #000;
    max-width: 45%;
}

.content-section h5, h1{
    padding: 20px 0px 10px 0px;
}

.txt-button{
    padding: 10px;
    border-radius: 20px;
    outline: none;
  }
  
.txt-button:hover{
    transition: 0.5s ease-in-out;
    background-color: #0765bd;
  }

.pre-footer-tec-content{
    background: url("../img/capital+humano.jpg");
    background-size: cover;
    padding: 150px 0;
    text-align: left;
    color: #fff;
}

.pre-footer-tec-content{
    padding-left: 30px;
}